/*
Variables
 */

:root {
	--bg: #191919;
	--highlightbg: #2A2A2A;
	--txt: #DDDDDD;
	--htxt: #FDFDFD;
	--highlighttxt: #FDFDFD;
}

/*
Font
 */

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: url("webfont.woff2") format("woff2");
	/*src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2Rj.woff2) format('woff2');*/
	unicode-range: U+0020-007F, U+2013, U+2014, U+00E9; /*standard + em-dash + en-dash + {\'e} --- add more as needed */
}

/*
General stuff
 */

body {
	margin: 40px auto;
	max-width: 700px;
	line-height: 1.8;
	font-size: 16px;
	font-family: 'Roboto Slab', Helvetica, Arial;
	color: var(--txt);
	padding: 0 10px;
	background-color: var(--bg);
	hyphens: auto;
	text-align: justify;
}

p {
	margin: 20px 0;
}

a {
	color: inherit;
}

a:hover {
	color: var(--highlighttxt);
}

h1 {
	color: var(--htxt);
	font-size: 28px;
}

h2 {
	color: var(--htxt);
	font-size: 24px;
}

hr {
	border: none;
	height: 1px;
	color: #444444;
	background-color: #444444;
}

/*
Header
 */

header {
	text-align: center;
}

/*Change layout of intro paragraph based on screen width.*/
@media only screen and (max-width: 750px) {
	.intro {
		text-align: justify;
	}
}

@media only screen and (min-width: 750px) {
	.intro {
		width: 420px;
		margin: 0 auto;
	}
}

.avatar {
	border-radius: 50%;
}

.icons {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: flex; 
	justify-content: center;
}

svg {
	fill: var(--txt);
}

svg:hover {
	fill: var(--highlighttxt);
}

/*
<details>
 */

.papers {
	list-style-type: none;
	padding: 0;
	margin: 2em 0px; /*Needed to make spacing above and below this section more reasonable. Kinda confuses me though.*/
}

details {
	margin: 20px 10px 20px 10px;
	border-radius: 10px;
	border: 3px solid var(--highlightbg);
}

details > summary {
	padding: 15px 20px 15px 20px;
	cursor: pointer;
	background-color: var(--highlightbg);
}

.content {
	padding: 0px 20px 0px 20px;
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (min-width: 750px) {
	details > summary:hover {
		color: var(--highlighttxt);
	}
}

/*
Footer
 */

footer {
	text-align: center;
	font-size: 14px;
	font-style: oblique;
	padding-top: 10px;
}
