body {
    margin: 40px auto;
    max-width:700px;
    line-height: 1.7;
    font-size: 18px;
    font-family: Helvetica, Arial;
    color: #AAAAAA;
    padding:0 10px;
    background-color:#202020;
}

h1, h2, h3 {
	color: #FDFDFD;
}

a {
	color: #AAAAAA;
}

a:hover {
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	color: #444444;
	background-color: #444444;
}

.container {
	padding: 0px 20px;
}

input, textarea{
	padding: 12px;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-family: Helvetica, Arial;
	background-color: #202020;
	resize: vertical;
	color: #FDFDFD; /*would be nice to make "Submit" grey until fields are correctly filled in */
	vertical-align: bottom; /*baseline of <textarea> not automatically specified*/
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 2px;
}

input[type=text], textarea {
	width: 100%;
}

::placeholder {
	color: #AAAAAA;
}

input[type=submit]:hover {
  background-color: #AAAAAA;
  cursor: pointer;
}

.leftfloating {
	float:left;
	width:320px;
}

.rightfloating {
	float:right;
	width:320px;
}

/*for small screens, floating should be disabled*/
@media only screen and (max-width: 720px) {
	.leftfloating {
		float:none;
		width:100%;
	}
	.rightfloating {
		float:none;
		width:100%;
	}

}
